.container {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  background-color: rgb(39, 27, 26, 0.7);
  border-radius: 15px;
}

.cartContainer {
  width: 80%;
  color: white;
  padding: 2rem;
}

.table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 1rem;
}

.table th,
.table td {
  border: 1px solid #555;
  padding: 0.5rem;
  text-align: left;
}

.deleteBtn,
.clearBtn {
  background-color: #b22222;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.2s;
}

.deleteBtn:hover,
.clearBtn:hover {
  background-color: #d63031;
}

.total {
  margin-top: 1.5rem;
  font-size: 1.2rem;
}

.quantityBox {
  display: flex;
  align-items: center;
  gap: 6px;
}

.qtyBtn {
  background-color: #444;
  color: white;
  border: 1px solid #777;
  border-radius: 4px;
  padding: 2px 8px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.2s;
}

.qtyBtn:hover {
  background-color: #555;
}


